{% extends 'base.html' %}
{% block content %}
<h2>Detalle del Anuncio</h2>
<div>
    <h3>Nombre de la Mascota: {{ anuncio.nombre }}</h3>
    <img src="{{ anuncio.imagen.url }}" alt="Imagen de la mascota">
    <p><b>Descripción:</b> {{ anuncio.descripcion }}</p>
    <p><b>Fecha de Pérdida:</b> {{ anuncio.fecha_perdida }}</p>
    <p><b>Lugar de Pérdida:</b> {{ anuncio.lugar_perdida }}</p>
    <p><b>Edad:</b> {{anuncio.edad}}</p>
    <p><b>Raza:</b> {{anuncio.raza}}</p>
    <p><b>Género:</b> {{anuncio.genero}}</p>
    <p><b>Chip:</b> {{anuncio.lleva_chip}}</p>
    <p><b>Teléfono de contacto:</b>{{anuncio.telefono_contacto}}</p>
</div>
    <!-- Botón para volver atrás -->
    <a href="javascript:history.go(-1)"><button>Volver atrás</button></a>
    {% endblock %}

