{% extends 'base.html' %}
{% block content %}

<h2>Tus anuncios</h2>

<div>
        <div class="contenedor_tarjetas">
        {% for anuncio in anuncios %}
        <div class="tarjeta_anuncio">
            <h3>{{ anuncio.nombre }}</h3>
            <img class="tarjeta_imagen" src="{{ anuncio.imagen.url }}" alt="Imagen de la mascota">
            <p>{{ anuncio.edad }}</p>
            <p>{{ anuncio.genero }}</p>
            <p>{{ anuncio.fecha_perdida }}</p>
            <p>{{ anuncio.lugar_perdida }}</p>
            <p>{{ anuncio.raza }}</p>
            <p>{{ anuncio.descripcion }}</p>
            <p>{{ anuncio.telefono_contacto }}</p>
            <a href="{% url 'anuncio_mascota' anuncio.id %}"><button>Ver detalles</button></a>
        </div>
    {% endfor %}
</div>
</div>


{% endblock %}